/* background and audio button accents--> #1919FA
drop shadows etc --> #A3A3FD
exterior headline etc --> #FAFA91
inside flippy --> #FDFDD3 */
/* inside flip text etc --> #888888 */

@font-face{
  font-family: myAvaraFont;
  src:url(assets/fonts/Avara-Black.otf);
}
@font-face {
  font-family: myLinotypeFont;
  src: url(assets/fonts/LinotypeUniversTypewrtr-Rg.ttf);
}
h1 {
  font-family: myAvaraFont, sans-serif;
  color: rgb(163, 163, 253);
  font-size: 0.6em;
}

h2{
  font-family: myLinotypeFont, sans-serif;
  color: rgb(136, 136, 136);
  font-size: 0.5em;
  font-style: italic;
}


body {
  font-family: 'Courier New', sans-serif;
  background-color: rgb(25, 25, 250);
  background-position: center;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Courier New', sans-serif;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: rgb(253, 253, 211);
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}
.grid-container {
  display: flex;
  grid-template-columns: auto auto auto;
  background-color: rgb(25, 25, 250);
  padding: 50px;
  flex-wrap: wrap;

}
.grid-item {
  background-color: rgb(25, 25, 250);
  border: 3px solid rgba(255, 255, 255);
  padding: 20px;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}
img {
  max-width:100%;
  cursor:pointer;
}
